@import 'tailwindcss';

@theme {
  --color-primary: oklch(0.6011 0.1868 254.5);
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}


body{
    font-family: 'Inter', sans-serif;
}